*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.bg1{
    background-image: url('/static/usuarios/img/bg1.png') !important;
    height: 100vh;
    background-size: cover;
}

.titulo-fonte{
    margin-top: 20px;
}

.box-titulo{
    display: flex;
}

.box-titulo-item h3 {
    font: 2rem 'Jura';
}

.divisor{
    border: 0;
    margin-top: 0;
    margin-bottom: 5rem;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(162, 219, 236), transparent);
    display: block;
}

.tac{
    text-align: center;
}

.tac h4 {
    font: 2rem 'Jura';
}

.box-form{
    padding: 20px;
    margin-top: 4rem;
    background-color: rgba(217,217,217, .05);
    color: white !important;
}

.box-circle{
    display: flex;
    gap: 5px;
}

.circle{
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.c1{
    background-color: #3E79EB;
}

.c2{
    background-color: #29BFC9;
}

.c3{
    background-color: #D98562
}

.input-form{
    background-color: #0b1526;
    padding: 10px;
    border: none;
    border: 1px solid rgba(88, 252, 213, .4);
    color: white;
    outline: 0;
    width: 100%;
}

.btn-cadastro,
.btn-secundario {
    padding: 8px 25px;
    border: 1px solid #58fcd5;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.btn-cadastro {
    background-color: #58fcd5;
    opacity: .8;
}

.btn-cadastro:hover{
    opacity: 1;
}

.btn-secundario {
    background-color: transparent;
    border: 1px solid #58fcd5;
    color: #fff;
}

.btn-secundario:hover {
    background-color: #58fcd5;
    color: #000;
}

.bsm {
    padding: 5px 25px;
    height: 38px;
}
