.badge-categoria{
    padding: 5px 10px;
    background-color: #122342;
}

.badge-facil {
    background-color: #5B00F5;
}

.badge-medio {
    background-color: #AB00F5;
}

.badge-dificil {
    background-color: #F52800;
}

.box-new-flashcard{
    margin: 0;
}

.icone-vermelho{
    color:red;
    font-size: 30px;
}

.icone-verde{
    color:green;
    font-size: 30px;
}

.op2{
    opacity: .3;
}

.fonte-p{
    font-size: 25px;
}

.btn-desafio{
    width: 100% !important;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 25px;
}

.box-listar{
    background-color: #0b1526;
    padding: 20px;
}

table{
    width: 100%;
    padding: 20px;
    text-align: center;
}

tr{
    background-color: var(--main-color);
}

th{
    padding: 20px;
}

.linha{
    height: 30px;
    background-color: var(--dark-color);
    padding: 0 10px;
    border-bottom: 4px solid #0b1526;
}

td {
    padding: 8px 0;
}

td a {
    text-decoration: none;
}