{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/iniciar_desafio.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/desafio.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock 'cabecalho' %}

{% block 'conteudo' %}
    <div class="container pt-5">
        {% include "partials/messages.html" %}
        <form action="{% url "listar_desafio" %}" method="GET">
            <div class="row gap-2">
                <div class="col-md">
                    <label for="">Categoria</label>
                    <select name="categoria" class="form-select">
                        <option value="">Todas</option>
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}" {% if categoria.id == cat_filtro.id %}selected{% endif %}>{{categoria}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md">
                    <label for="">Dificuldade</label>
                    <select name="dificuldade" class="form-select">
                        <option value="">Todas</option>
                        {% for dificuldade in dificuldades %}
                            <option value="{{dificuldade.0}}" {% if dif_filtro == dificuldade.0 %} selected {% endif %}>
                                {{dificuldade.1}}
                            </option>
                        {% endfor %}                   
                    </select>
                </div>
                <div class="col-md">
                    <label for="">Status</label>
                    <select name="status" class="form-select">
                        <option value="">Todos</option>
                        {% for st in lista_status %}
                            <option value="{{st}}" {% if st == status_filtro %} selected {% endif %}>
                                {{st}}
                            </option>
                        {% endfor %}                   
                    </select>
                </div>
                <div class="col-md-1 px-0 text-center">
                    <br>
                    <a href="{% url "listar_desafio" %}"><i class="bx bx-reset bx-md text-white"></i></a>
                </div>
                <div class="col-md">
                    <br>
                    <input type="submit" value="Filtrar" class="btn-cadastro bsm">
                </div>
            </div>
        </form>

        <div class="box-listar mt-5 pt-0">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Desafio</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Dificuldade</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for desafio in desafios %}
                        <tr class="linha">
                            <td><a href="{% url 'desafio' desafio.id %}">{{desafio.id}}</a></td>
                            <td>{{desafio.titulo}}</td>
                            <td>
                                <span class="badge rounded-2 fs-6 fw-normal w-75
                                {% if desafio.dificuldade == 'F' %}
                                    badge-facil
                                {% elif desafio.dificuldade == 'M' %}
                                    badge-medio
                                {% else %}
                                    badge-dificil
                                {% endif %}">  
                                    {{desafio.get_dificuldade_display}}
                                </span>
                            </td>
                            {% if desafio.status == 'Em aberto' %}
                                <td><span class="badge rounded-2 text-bg-info fs-6 fw-normal w-75">{{desafio.status}}</span></td>
                            {% else %}    
                                <td><span class="badge rounded-2 text-bg-success fs-6 fw-normal w-75">{{desafio.status}}</span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'flashcard/js/flashcard.js' %}"></script>
{% endblock 'conteudo' %}