{% extends 'base.html' %}

{% load static %}

{% block 'titulo' %}Cadastro de usuário{% endblock  %}

{% block 'cabecalho' %}
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}

    <div class="bg1">
        <div class="container">
            <div class="row gap-5 pt-4">
                <div class="col-md">
                    <div class="box-titulo">
                        <div class="box-titulo-item">
                            <img src="{% static 'usuarios/img/logo.png' %}" alt="logo">
                        </div>
                        <div class="box-titulo-item my-auto">
                            <h3>Study.Async</h3>
                        </div>
                    </div>
                    <hr class="divisor">
                    <div class="tac">
                        <h4>Sua plataforma online<br>para te ajudar nos estudos</h4>
                    </div>
                </div>
                <div class="col-md">
                    <div class="box-form">
                        <div class="box-circle mb-3">
                            <div class="circle c1"></div>
                            <div class="circle c2"></div>
                            <div class="circle c3"></div>
                        </div>
                        <h3>Cadastre-se</h3>
                        {% include "partials/messages.html" %}
                        <form action="{% url 'cadastro' %}" method="POST">
                            {% csrf_token %}
                            <div class="my-3">
                                <label>Username</label>
                                <input type="text" class="input-form" name="username" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label>Senha</label>
                                <input type="password" class="input-form" name="senha" required>
                            </div>
                            <div class="mb-4">
                                <label>Confirmar senha</label>
                                <input type="password" class="input-form" name="confirmar_senha" required>
                            </div>
                            <input type="submit" value="Enviar" class="btn-cadastro mb-5">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock 'conteudo' %}